<div class="card">
    <img src="{{product?.image}}" class="card-img-top" style="height: 550px; width: 400px;" alt="{{product?.title}}">
    <div class="card-body">
      <h5 class="card-title">{{product?.title}}</h5>
      <p class="card-text">{{product?.description}}</p>
      <p class="card-text">Precio: ${{product?.price}}</p>
      <button class="btn btn-secondary" (click)="toggleFavorite()">
        {{ product?.isFavorite ? 'Remover favorito' : 'Marcar como' }} favorito
      </button>
      <!-- regresar -->
      <a routerLink="/products" class="btn btn-primary m-2">Regresar</a>
    </div>
  </div>